
*.o
*.exe

### --- Symfony Core ---
/vendor/
/var/
/public/bundles/
/config/secrets/*.php
/config/secrets/*/*.php

# Database files
*.db
*.sqlite
*.sqlite3

.env.local
.env.local.php
.env.*.local

docker-compose.override.yml
.phpunit.result.cache
.php-cs-fixer.cache

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

/public/build/
/node_modules/
npm-debug.log
yarn-error.log